[Unit]
Description=Synchronize Ozon finance accruals every 3 hours

[Timer]
OnCalendar=*-*-* 02,05,08,11,14,17,20,23:35:00 Europe/Moscow
Persistent=true
RandomizedDelaySec=120
Unit=wbozon-ozon@finances.service

[Install]
WantedBy=timers.target
