[Unit]
Description=Synchronize Yandex Market finance transactions hourly

[Timer]
OnCalendar=*-*-* *:45:00 Europe/Moscow
RandomizedDelaySec=120
Persistent=true
Unit=wbozon-yandex-market@finances.service

[Install]
WantedBy=timers.target
